* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

.chat {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #ddd;
}

button {
    background-color: #A491D2;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;  
    color: white;
    display: flex;
    justify-content: center;
}

.menu {
    
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    background-color: #F6F5F5;
}

.menu img {
    width: 300px;
    margin-bottom: 20px;
}


.menu h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.menu p {
    font-size: 14px;
    color: #555;
    max-width: 400px;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    
}

.perfil h2 {
    font-size: 16px;
}

.perfil p {
    font-size: 12px;
    color: #777;
}

.usuario {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 30px;    
    border-top: 1px solid #eee;
}


.foto {
    width: 32px;           
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.nombres {
    font-size: 13px;        
    font-weight: 600;
}

.mensaje {
    font-size: 11px;        
    color: #777;
}


.iconos {
    display: flex;
    gap: 10px;
    margin-left: auto;
    color: #777;
    border-radius: 50%;

}